<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ricardo Cruz McDougal</title>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>

    <body>

        <div id="aboutContent" class="container">

            <header>
                <nav id="myNav" class="pagesNav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="liActive"><a href="about.html">About</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="innerContainer">
                    <h1 class="pageTitle">About Me</h1>
                    <div id="aboutDiv">

                        <p>My name is Ricardo Cruz Mcdougal and I am currently living in Miami, FL. Before I spend almost 2 years in Austin, TX and before almost 8 years in Charlotte, NC (and also about 8 month in NYC) so I have been in quite a few places.
                            The rest of the time I spent in Dominican Republic where I was born. I earned my Bachelors from UNC Charlotte in Software and Information Systems with a concentration in Web Developpment. While leaving in Texas I worked as
                            an ETL developer where I learned various technologies I did not even know about while finishing my undergraduate degree. For the last two months or so I have teamed up with a friend who is a Graphic designer and needed a Web
                            Developer to take care of websites some of his clients wanted to get done. </p>
                        <p>In addition, I am currently enrolled at Boston University working towards a Master of Science in Computer Information Systems hopefully graduating in the Spring of 2018. I hope to sharpen my web development skills, and develop
                            new ones to help me become a succesful Web Developer, both front and back end, in the industry.
                        </p>
                        <br>
                        <img src="img/monumento.jpg" alt="Monumento de Santiago" />
                    </div>
                </div>
            </main>

            <footer class="mainFooter">
                <h5> &copy;Copyright 2016 Ricardo Cruz. All rights reserved.</h5>
            </footer>

        </div>
        <!-- #aboutContent -->

    </body>

</html>
