<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ricardo Cruz McDougal</title>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>

    <body>

        <div id="galleryContent">

            <header>
                <nav id="myNav" class="pagesNav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li class="liActive"><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="innerContainer">
                    <h1 class="pageTitle"> Gallery </h1>
                    <div id="galleryDiv">

                    </div>
                </div>
            </main>


            <footer class="mainFooter">
                <h5> &copy;Copyright 2016 Ricardo Cruz. All rights reserved.</h5>
            </footer>

        </div>
        <!-- #galleryContent -->
        <!-- Load jQuery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </body>

</html>
