<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ricardo Cruz McDougal</title>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

  <div id="backgroundCover">
    <div id="homeContent" class="container">

      <header>
        <nav id="myNav">
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main id="homeMain">
        <div id="homeDiv">
          <h1>Ricardo Cruz McDougal</h1>
          <p>Web Developer based out of Miami, FL</p>
        </div>
      </main>

      <footer>
        <h5> &copy;Copyright 2016 Ricardo Cruz. All rights reserved.</h5>
      </footer>

    </div> <!-- #content -->
  </div> <!-- #backgroundCover -->

</body>
</html>
