<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ricardo Cruz McDougal</title>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>

    <body>

        <div id="projectsContent" class="container">

            <header>
                <nav id="myNav" class="pagesNav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="liActive"><a href="projects.html">Projects</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="innerContainer">
                    <h1 class="pageTitle">Projects</h1>
                    <div class="projectDiv">
                        <div class="individualProjectDiv">
                            <a href="http://rcruzmcd.com/GradingAssist/index.php"> Grading Assist </a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/GradingAssist.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://rcruzmcd.com/TennisPalsTest/view/loginPage.php"> Tennis Pals </a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/TennisPals.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://www.starsalliance.org/stars-evaluation-assistant-toolkit"> Stars Alliance: Evaluation Assistant Toolkit</a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/Stars.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://nailsbyana.com/polishes/"> Nails by Ana Polishes </a>
                            <div style="">
                                <img src="http://rcruzmcd.com/imgs/nailsbyAnaPolish.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://rcruzmcd.com/FlickrSlide/index.html"> Flickr MockUp </a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/flickrmockup.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://rcruzmcd.com/RTM/index.html"> Rotten Tomatores MockUp</a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/RottenTomatoesMockup.png" alt="" height="250" />
                            </div>

                        </div>

                        <div class="individualProjectDiv">
                            <a href="http://rcruzmcd.com/TG/index.html"> Trivia Game </a>
                            <div style="/*float: left;*/">
                                <img src="http://rcruzmcd.com/imgs/triviaGame.png" alt="" height="250" />
                            </div>

                        </div>
                    </div>
                </div>
            </main>


            <footer class="mainFooter">
                <h5> &copy;Copyright 2016 Ricardo Cruz. All rights reserved.</h5>
            </footer>

        </div>
        <!-- #aboutContent -->

    </body>

</html>
