<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ricardo Cruz McDougal</title>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>

    <body>

        <div id="resumeContent" class="container">

            <header>
                <nav id="myNav" class="pagesNav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li class="liActive"><a href="resume.html">Resume</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="innerContainer">
                    <h1 class="pageTitle"> Resume </h1>
                    <div class="resumeDiv">
                        <iframe style="width: 900px; height: 1200px; display: block; margin: 0 auto;" src="http://docs.google.com/gview?url=http://rcruzmcd.com/Resume.pdf&amp;embedded=true" width="300" height="150" frameborder="0"></iframe>
                        <!--http://docs.google.com/gview?url=http://path.com/to/your/pdf.pdf&#038;embedded=true-->
                    </div>
                </div>
            </main>

            <footer class="mainFooter">
                <h5> &copy;Copyright 2016 Ricardo Cruz. All rights reserved.</h5>
            </footer>


        </div>
        <!-- # -->

    </body>

</html>
